<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanxiaoha.xiaolanshu.auth.domain.mapper.RoleDOMapper">
    <select id="selectEnabledList" resultType="com.quanxiaoha.xiaolanshu.auth.domain.dataobject.RoleDO">
        select * from t_role where status = 0 and is_deleted = b'0' order by sort asc, id asc
    </select>
</mapper>
