<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanxiaoha.xiaolanshu.auth.domain.mapper.UserRoleDOMapper">
    <insert id="insert" parameterType="com.quanxiaoha.xiaolanshu.auth.domain.dataobject.UserRoleDO" useGeneratedKeys="true" keyProperty="id">
        insert into t_user_role_rel (user_id, role_id, create_time, update_time, is_deleted)
        values (#{userId}, #{roleId}, #{createTime}, #{updateTime}, #{isDeleted})
    </insert>
</mapper>
