<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanxiaoha.xiaolanshu.auth.domain.mapper.UserDOMapper">
  <resultMap id="BaseResultMap" type="com.quanxiaoha.xiaolanshu.auth.domain.dataobject.UserDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="xiaolanshu_id" jdbcType="VARCHAR" property="xiaolanshuId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="background_img" jdbcType="VARCHAR" property="backgroundImg" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from t_user where id = #{id}
  </select>

  <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from t_user where phone = #{phone} and is_deleted = 0 limit 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update t_user set is_deleted = b'1' where id = #{id}
  </delete>

  <insert id="insert" parameterType="com.quanxiaoha.xiaolanshu.auth.domain.dataobject.UserDO">
    insert into t_user (xiaolanshu_id, password, nickname, avatar, birthday, background_img, phone,
      sex, status, introduction, create_time, update_time, is_deleted)
    values (#{xiaolanshuId}, #{password}, #{nickname}, #{avatar}, #{birthday}, #{backgroundImg}, #{phone},
      #{sex}, #{status}, #{introduction}, #{createTime}, #{updateTime}, #{isDeleted})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.quanxiaoha.xiaolanshu.auth.domain.dataobject.UserDO">
    update t_user
    set xiaolanshu_id = #{xiaolanshuId}, password = #{password}, nickname = #{nickname}, avatar = #{avatar},
      birthday = #{birthday}, background_img = #{backgroundImg}, phone = #{phone}, sex = #{sex}, status = #{status},
      introduction = #{introduction}, create_time = #{createTime}, update_time = #{updateTime}, is_deleted = #{isDeleted}
    where id = #{id}
  </update>
</mapper>

